	h1 {
		text-align: center;
		color: #F00;
		font-family: Arial;
	}

	.menu {
		width: 1200px;
		height: 50px;
		margin: auto;
		background-color: #CCC;
	}

	.menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.menu ul li {
		float: left;
		position: relative;
	}

	.menu ul li a {
		text-decoration: none;
		padding: 0 20px;
		font-family: Arial;
		color: #000;
		font-size: 14px;
		line-height: 50px;
		display: block;
	}

	.menu ul li a:hover {
		background-color: #333;
		color: #FFF;
		line-height: 48px;
		border-bottom: 2px solid #F00;
	}

	.submenu-list {
		display: none;
		position: absolute;
		background-color: #CCC;
		border: 1px solid #000;
	}

	.submenu-list li {
		display: inline-block;
		white-space: nowrap; /* Ngăn các lựa chọn không bị ngắt dòng */
	}

	.submenu:hover .submenu-list {
		display: block;
	}